body {
  font-family:helvetica neue, helvetica, arial, sans-serif;
  font-size:12px;
}

header {
  margin-top:1em;
  text-align:center;
}

header #url {
  width: 650px;
  padding: 1em 0.75em;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 1.5em;
  font-family: monospace
}

header sup {
    color:#666;
}

main {
  max-width:1000px;
  margin:1em auto;
  text-align:center;
}

.uninitialized main, .uninitialized footer {
  transition:opacity 1s linear;
  opacity:0;
}

.loading main, .loading footer {
  opacity:1;
}

body.loading main, body.loading header, body.loading footer {
  -webkit-filter:blur(3px);
  filter:blur(3px);
}

video, #canvas {
  margin:0 auto;
  max-width:100%;
  max-height:700px;
  transition: all 1s linear;
}

video {
  background:#eee;
}

#canvas {
  display:none;
  cursor:pointer;
  border:3px solid black;
  margin-top:1em;
}

button, label, input[type=range], input[type=submit]{
  cursor:pointer;
}

#controls {
  margin-top:1em;
  text-align:center;
}

#controls .control {
  display:inline-block;
  margin:0.5em;
}

#play_pause {
  font-weight:normal;
  padding:0.5em;
  width:3em;
  background:#ddd;
  text-align:center;
}

#playback_rate {
    text-align:center;
    width:4em;
}

#progress {
  display:block !important;
}

footer {
  text-align:center;
  color:#999;
}

footer > div {
    display:inline-block;
    margin-left:1.5em;
}

#overlay {
  pointer-events: none;
  position:fixed;
  top:0em;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
  color:white;
  font-size:2em;
  text-align:center;
  padding-top:2em;
  transition:all 0.5s linear;
  opacity:0;
}

body.loading #overlay{
  opacity:1;
  pointer-events:auto;
}

#overlay h1 {
  background:black;
  margin:0.25em;
  padding:0.5em 1em;
  display:inline-block;
}

#overlay h2 {
  margin:0.25em;
  padding:0.5em 1em;
  display:inline-block;
  background:orangered;
}

#overlay p {
  padding:0.5em 1em;
  display:inline-block;
  background:black;
}

#frame_progress_canvas, #image_progress_canvas {
  width:500px;
  height:30px;
  display:block;
  margin:1em auto;
  border:3px solid white;
}
