body {
  font-family:helvetica neue, helvetica, arial, sans-serif;
  font-size:12px;
}

header {
  margin-top:1em;
  text-align:center;
}

header #url {
  width:400px;
  padding:0.75em 0.5em;
  text-align:center;
  background:#eee;
}

main {
  max-width:500px;
  margin:1em auto;
  /*text-align:center;*/
}

body.loading main, body.loading header, body.loading footer {
  -webkit-filter:blur(3px);
}

video, canvas {
  margin:0 auto;
  width:100%;
}

video {
  background:#eee;
}

canvas {
  display:none;
  cursor:pointer;
  border:3px solid black;
}

button, label, input[type=range], input[type=submit]{
  cursor:pointer;
}

#controls {
  margin-top:1em;
  text-align:center;
}

#controls .control {
  display:inline-block;
  margin:0.5em;
}

#play_pause {
  font-weight:bold;
  padding:0.5em;
  width:50px;
  background:#ddd;
}

#playback_rate {
    text-align:center;
    width:4em;
}

#progress {
  display:block !important;
}

footer {
  text-align:center;
  color:#999;
}

footer > div {
    display:inline-block;
    margin-left:1.5em;
}

#overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
  color:white;
  font-size:3em;
  text-align:center;
  padding-top:10em;
  display:none;
  text-shadow:0px 0px 6px rgba(255,255,255,0.5), 1px 1px 0px black, -1px -1px 0px black 1px 0px 0px black 0px 1px 0px black;
}

body.loading #overlay{
  display:block;
}
